
.navbar.navbar-light.bg-light {
    background-color: white !important;

}

.navbar-brand {
    justify-content: center;
    font-weight: 500;
    font-size: 1.5em;
    letter-spacing: 0.20em;
}

.navbar {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.150);
}

.navbar-nav .nav-item {
    margin-right: 20px;
    /* Add space between each pair of navigation items */
}

.nav-link {
    font-weight: 300;
    font-size: 0.85em;
    letter-spacing: 0.20em;
}

/* footer */
footer p {
    font-weight: 300;
    font-size: 0.85em;
    letter-spacing: 0.20em;
    opacity: 0.5;
}

/* related to navbar too */
/* to hide the icons when we click the toggler */
@media (max-width: 991.98px) {

    .bi:not(.collapsed) {
        display: none;
    }
}

/* drop down button styling */
.dropdown .btn {
    font-weight: 300;
    font-size: 0.85em;
    letter-spacing: 0.20em;
    border-radius: 50px;
    color: rgb(0, 0, 0);
    border-color: rgba(0, 0, 0, 0.150);
    background-color: white;
}

.tittle_conatiner h3 {
    font-family: 'Nunito', sans-serif;  
   text-align: center;

}


.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}



.product_info .form-control {
  display: inline-block;
  border: 1px solid;
  margin-top: 6px;
  margin-bottom: 6px;
  
 
}
.product_info .form-select {
  display: inline-block;
  border: 1px solid;
  margin-top: 6px;
  margin-bottom: 6px;
 
}
.product_info textarea {
    outline: none;
    resize: none;

}

.product_info .form-label {
    font-family: 'Nunito', sans-serif;
    
}

/* image styling */

.product-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
  }
  .upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 240px;
    border: 1px solid;
    border-radius: 8px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
  }

  .image-icon {
    font-size: 100px;
  }

  .upload-text {
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    margin-top: 10px;
  }
  .upload-button {
    background-color: black;
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 20px;
    border-radius: 8px;
    display: inline-block;
    color: aliceblue;
    width: 100%;
    height: 30px;
    cursor: pointer;
  }

  #image-upload {
    display: none;
  }

  .image-container {
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  #image-preview {
    display: flex;
    width: auto; 
    max-width: 100%; 
    height: auto;
    object-fit: cover;
   
  }
   


.Add_product_button {
    display: flex;
    justify-content: center;
    color: aliceblue;
    background-color: black;
    width: 100%;
    height: 10x;
    border:none ;
    border-radius: 8px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    

}
.Add_product_button:hover {
    background-color: rgb(62, 62, 64);
}

